Code/Node Red/Oil Level Sensor.json
[{"id":"7b6aa481.12022c","type":"tab","label":"Oil Level Sensor","disabled":false,"info":""},{"id":"ed0b6132.0e08e","type":"mqtt in","z":"7b6aa481.12022c","name":"","topic":"sensors/oil/avgdistance","qos":"2","datatype":"auto","broker":"e47a378e.09b618","inputs":0,"x":120,"y":700,"wires":[["99d9f7b.913c508","5f36a770.35db28","d5e0c77c.5e8428","ad390265.1f177","7151a09c.651e8","6fa424d1.fd910c"]]},{"id":"99d9f7b.913c508","type":"debug","z":"7b6aa481.12022c","name":"Raw Dist mm","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":780,"wires":[]},{"id":"7151a09c.651e8","type":"delay","z":"7b6aa481.12022c","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":290,"y":960,"wires":[["ee0ec555.02adc8"]]},{"id":"ee0ec555.02adc8","type":"change","z":"7b6aa481.12022c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":960,"wires":[["ad390265.1f177"]]},{"id":"ad390265.1f177","type":"join","z":"7b6aa481.12022c","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":900,"wires":[["f565099.b415df8"]]},{"id":"f565099.b415df8","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/OilLevelRawDistance.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":800,"y":900,"wires":[[]]},{"id":"5f36a770.35db28","type":"function","z":"7b6aa481.12022c","name":"Convert to gallons","func":"var mm = msg.payload;\nvar inches = mm * 0.0393701;\n\n\n/*\nChange these variables to match your tank\nOffset is how high the sensor sits above the top of the tank\ntank_x variables are the physical size of the tank. \n*/\nvar offset = 1;\nvar tank_height = 44;\t// 44 is standard for a 275 gallon tank\nvar tank_width = 60;\t// 60 is standard for a 275 gallon tank\nvar tank_depth = 27;\t// 27 is standard for a 275 gallon tank\n\nif (tank_height < (inches + offset)){\n    msg.payload = \"outside bounds\";\n\treturn [null,msg];\n}\n\nvar depth = tank_height - (inches+offset);\nvar rect_area = (tank_depth * (tank_height - tank_depth));\t// Used for area of the full rectangular section\nvar halfcirc_area = ((Math.PI * (Math.pow((tank_depth/2),2)))/2);\t// Used for area of one circular section\n\n\nif (depth > ((tank_height - (tank_depth/2)))) {  // Level into top circular section\n    circ_depth = depth - (tank_height -(tank_depth/2)); // Depth of oil in top circular section.\n    angle = 2*(Math.acos((circ_depth)/13.5));\t\t\t// Angle used to calculate segment of circle\n    segment = (Math.pow((tank_depth/2),2))*((angle - Math.sin(angle))/2);\t// Area of segment to subtract from half circle\n    oilseg = halfcirc_area - segment;\t\t\t// area of oil in partial circular section\n    area = oilseg + halfcirc_area + rect_area;\t// total area of oil\n    vol_in = area*60;\t\t\t\t\t\t\t// volume of oil in square inches\n    vol_gal = vol_in/231;\t\t\t\t\t\t// volume of oil in gallons\n    msg.payload = vol_gal;\n    return [msg,null];\n}\n\nelse if ((tank_height - (tank_depth/2)) > depth && depth > (tank_depth/2)){  //level in the rectangular section\n    rect = (depth - (tank_depth/2))*tank_depth;\t// Area of oil in the partial rectangle area\n    area = halfcirc_area + rect;\t\t\t\t// Total area of Oil\n    vol_in = area * 60;\t\t\t\t\t\t\t// volume of oil in square inches\n    vol_gal = vol_in/231;\t\t\t\t\t\t// volume of oil in gallons\n    msg.payload = vol_gal;\n    return [msg,null];\n}\n\nelse if (depth < (tank_depth/2)){ \t// Level in the lower rounded section\n    angle = 2*(Math.acos(((tank_depth/2) - depth)/(tank_depth/2)));\t// Angle used for calculating segment\n    segment = (13.5 * 13.5)*((angle - Math.sin(angle))/2);\t\t\t// Area of Segment\n    vol_in = segment*60;\t\t\t\t\t\t// volume of oil in square inches\n    vol_gal = vol_in/231;\t\t\t\t\t\t// volume of oil in gallons\n    msg.payload = vol_gal;\n    return [msg,null];\n}\n\nelse {\t\t// Level reading is outside bounds expected for tank\n\tmsg.payload = \"Oil reading outside bounds\";\n\tmsg.topic = \"alert\";\n\treturn [null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":740,"wires":[["50fe618.a9edda","7f4bf8a0.2a7e48","2836eba7.9fb024","80b09306afd2e592"],["14b1387f.ba2038"]]},{"id":"50fe618.a9edda","type":"debug","z":"7b6aa481.12022c","name":"Gallons","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":700,"wires":[]},{"id":"14b1387f.ba2038","type":"debug","z":"7b6aa481.12022c","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":860,"wires":[]},{"id":"7f4bf8a0.2a7e48","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"2e1dc6c605c5fa26","order":5,"width":0,"height":0,"label":"Oil Level Gallons","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"275","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":730,"y":740,"wires":[[]]},{"id":"d5e0c77c.5e8428","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"2e1dc6c605c5fa26","order":5,"width":0,"height":0,"label":"Oil Level Raw Distance (mm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":460,"y":700,"wires":[[]]},{"id":"681f1454.06ad9c","type":"mqtt in","z":"7b6aa481.12022c","name":"","topic":"sensors/alive/#","qos":"2","datatype":"auto","broker":"e47a378e.09b618","inputs":0,"x":100,"y":360,"wires":[["10d3e313.8fc13d","431882dc.434d7c"]]},{"id":"10d3e313.8fc13d","type":"debug","z":"7b6aa481.12022c","name":"Sensor alive messages","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":340,"wires":[]},{"id":"dec5c646.987408","type":"function","z":"7b6aa481.12022c","name":"Alive Check/Store","func":"const topic = msg.topic.split(\"/\");\n\nif (msg.payload == \"1\"){\n    store = Date.now();\n}\n\nconst name = topic[2];\nconst sensors = flow.get(\"sensors\");\nindex = sensors.indexOf(name);\n\n\nalive = flow.get(\"alive\");\n\nalive[index] = store\nflow.set(\"alive\", alive);\ncheck = flow.get(\"alive\");\nmsg = {payload: check};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":360,"wires":[["662e9527.a04bbc"]]},{"id":"662e9527.a04bbc","type":"debug","z":"7b6aa481.12022c","name":"Sensor Alive store","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":360,"wires":[]},{"id":"c7909777.68db58","type":"function","z":"7b6aa481.12022c","name":"variable init","func":"var alive = [];\nalive[0] = 0;\nflow.set(\"alive\",alive);\n\nvar laststate = [];\nflow.set(\"laststate\", laststate);\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[[]]},{"id":"204b17ec.0d1f48","type":"inject","z":"7b6aa481.12022c","name":"Startup Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":80,"wires":[["c7909777.68db58","e0d12f35.a2718","ca3b25546b8a8f47"]]},{"id":"9e5792c9.fc49e","type":"comment","z":"7b6aa481.12022c","name":"Sensor Watchdog =========================","info":"Each sensor device is setup to send an alive signal every minute. This set of nodes logs the timestamp of those messages, and then checks every minute to see if greater than 1 minute has elapsed since the last one. \n\nAt startup the flow sends a status check message to prod all sensors into checking in so they can be logged and setup in the various variables. \n\nEach sesnsor sends a hello message at boot and when proded for a check so that it can be logged and setup. ","x":210,"y":40,"wires":[]},{"id":"689b1296.e2a7ec","type":"inject","z":"7b6aa481.12022c","name":"Startup Trigger","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":520,"wires":[["2ad8a872.db4ee8"]]},{"id":"2ad8a872.db4ee8","type":"trigger","z":"7b6aa481.12022c","name":"1 minute trigger","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"-1","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":320,"y":520,"wires":[["a0ae398c.d685c8"]]},{"id":"a0ae398c.d685c8","type":"function","z":"7b6aa481.12022c","name":"Alive Check","func":"now = Date.now();\n\nalive = flow.get(\"alive\");\nsensors = flow.get(\"sensors\");\nlaststate = flow.get(\"laststate\");\n\nvar data = [];\ndata[0] = now;\nvar newstate = [];\n\nfor (i = 0; i < alive.length; i++){\n    last = alive[i];\n    diff = now - last;\n    data [1] = last;\n    data[2] = diff;\n    if (diff < 180000){\n        state = 1;\n        \n    }\n    else {\n        state = 0;\n        \n        \n    }\n    \n    node.send([[{topic: sensors[i], payload: state}],[null]]);\n    newstate[i] = state;\n    \n    if (newstate[i] == 0 && newstate[i] != lastState[i]){\n        content = sensors[i];\n        content += \"offline\";\n        node.send([[null],[{topic: \"alert\", payload: content}]]);\n    }\n \n}\n\nflow.set (\"laststate\", newstate);\n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":520,"wires":[["8f43c6a8.e7db38","8dfffbdf.f10508"],["1b01b120.60627f"]]},{"id":"8f43c6a8.e7db38","type":"debug","z":"7b6aa481.12022c","name":"Sensor Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":520,"wires":[]},{"id":"431882dc.434d7c","type":"switch","z":"7b6aa481.12022c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"hello","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":380,"wires":[["dec5c646.987408"],["dd456a38.74cd08"]]},{"id":"dd456a38.74cd08","type":"function","z":"7b6aa481.12022c","name":"Sensor Discovery","func":"const topic = msg.topic.split(\"/\");\nconst sensors = flow.get(\"sensors\");\n\nconst name = topic[2];\n\nconst bool = sensors.includes(name);\n\nif (bool  === true){\n    index = sensors.indexOf(name);\n    payload = name;\n    payload += \" exists as index: \";\n    payload += index;\n    node.send ([[{payload: payload}],[null]]);\n}\n\nelse if (bool === false){\n    sensors[sensors.length] = name;\n    flow.set(\"sensors\", sensors);\n    payload = \"New sensor: \";\n    payload += name;\n    payload += \" added.\";\n    node.send ([[{payload: payload}],[{payload: sensors}]]);\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":400,"wires":[["d28b9432.35d5a8","ce70dc96cafb0a05"],[]]},{"id":"d28b9432.35d5a8","type":"debug","z":"7b6aa481.12022c","name":"Sensor Discovery","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"1b01b120.60627f","type":"debug","z":"7b6aa481.12022c","name":"Sensor Error Output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":560,"wires":[]},{"id":"8dfffbdf.f10508","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"31ba7d3f5f723671","order":5,"width":0,"height":0,"label":"Sensor Connection Status","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":770,"y":480,"wires":[[]]},{"id":"f57988da.985b48","type":"mqtt out","z":"7b6aa481.12022c","name":"Sensor Discovery","topic":"sensors/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e47a378e.09b618","x":470,"y":240,"wires":[]},{"id":"e0d12f35.a2718","type":"change","z":"7b6aa481.12022c","name":"check","rules":[{"t":"set","p":"payload","pt":"msg","to":"check","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["f57988da.985b48"]]},{"id":"65ad401b.a9de4","type":"inject","z":"7b6aa481.12022c","name":"Manual Sensor Poll","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":240,"wires":[["e0d12f35.a2718"]]},{"id":"619770f5.f536","type":"mqtt in","z":"7b6aa481.12022c","name":"","topic":"sensors/status","qos":"2","datatype":"auto","broker":"e47a378e.09b618","inputs":0,"x":710,"y":240,"wires":[["635ebb3a.4b0f74"]]},{"id":"635ebb3a.4b0f74","type":"debug","z":"7b6aa481.12022c","name":"sensor status call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"c37fb613.c2d448","type":"comment","z":"7b6aa481.12022c","name":"Oil Level Sender","info":"","x":100,"y":640,"wires":[]},{"id":"2836eba7.9fb024","type":"link out","z":"7b6aa481.12022c","name":"OilLevelOut","links":["2981aa25.c03616","f98bd056de460fb5"],"x":655,"y":780,"wires":[]},{"id":"a6e95e9f.04f36","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"2e1dc6c605c5fa26","order":5,"width":0,"height":0,"label":"Oil Level Raw Distance (mm) Smooth","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":790,"y":660,"wires":[[]]},{"id":"6fa424d1.fd910c","type":"smooth","z":"7b6aa481.12022c","name":"","property":"payload","action":"mean","count":"5","round":"","mult":"single","reduce":false,"x":400,"y":660,"wires":[["a6e95e9f.04f36"]]},{"id":"ca3b25546b8a8f47","type":"file in","z":"7b6aa481.12022c","name":"Sensor Read In","filename":"/home/pi/logging/nodered/sensors.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":320,"y":120,"wires":[["0d38015ba17937db"]]},{"id":"e6a864de6621b477","type":"debug","z":"7b6aa481.12022c","name":"file read write","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":120,"wires":[]},{"id":"911dfe9b8ea951cc","type":"function","z":"7b6aa481.12022c","name":"variable init","func":"flow.set (\"sensors\", msg.payload);\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":120,"wires":[["e6a864de6621b477"]]},{"id":"0d38015ba17937db","type":"json","z":"7b6aa481.12022c","name":"","property":"payload","action":"","pretty":false,"x":630,"y":120,"wires":[["911dfe9b8ea951cc"]]},{"id":"e915be8196dd4d84","type":"comment","z":"7b6aa481.12022c","name":"Alive Signal Reciever","info":"","x":120,"y":300,"wires":[]},{"id":"cdbc2c5ecf487ca6","type":"comment","z":"7b6aa481.12022c","name":"Sensor Alive checking","info":"","x":120,"y":460,"wires":[]},{"id":"80b09306afd2e592","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/LastReading.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":780,"y":820,"wires":[[]]},{"id":"f98bd056de460fb5","type":"link in","z":"7b6aa481.12022c","name":"","links":["2836eba7.9fb024"],"x":25,"y":1080,"wires":[["7999b93a7d1a7bec","b6c083eeb69028ed"]]},{"id":"9110cdef78371d23","type":"trigger","z":"7b6aa481.12022c","name":"","op1":"hourly","op2":"0","op1type":"str","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":1360,"wires":[["2d8be205fab4fe6f"]]},{"id":"c52605b5487ce3f9","type":"inject","z":"7b6aa481.12022c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"trigger","payload":"Midnight","payloadType":"str","x":130,"y":1400,"wires":[["9110cdef78371d23","e119c83492c363aa"]]},{"id":"7999b93a7d1a7bec","type":"function","z":"7b6aa481.12022c","name":"Store latest Value","func":"flow.set(\"oilLatest\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":1060,"wires":[["d6d2a2e2de408dcd"]]},{"id":"d6d2a2e2de408dcd","type":"debug","z":"7b6aa481.12022c","name":"Latest Reading","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":1060,"wires":[]},{"id":"2d8be205fab4fe6f","type":"function","z":"7b6aa481.12022c","name":"Hourly use","func":"reading = flow.get(\"oilLatest\");\nlast = flow.get(\"lasthourly\");\n\nuseage = last - reading;\n\nflow.set(\"lasthourly\", reading);\nvar data = [];\ndata[0] = useage;\ndata[1] = reading;\ndata[2] = last;\ndata[3] = Date.now();\n\nnode.send([[{topic: \"hourly\", payload: data}],[{topic: \"hourly\", payload: data[0]}]]);\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1360,"wires":[["ed062605c7a3fa59","c03aa85c8377bf12"],["e3af1bb66c0c8ed2","a1cacea0f371da16"]]},{"id":"d6df1d217742211c","type":"inject","z":"7b6aa481.12022c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1360,"wires":[["9110cdef78371d23"]]},{"id":"e119c83492c363aa","type":"function","z":"7b6aa481.12022c","name":"daily use","func":"reading = flow.get(\"oilLatest\");\nlast = flow.get(\"lastdaily\");\n\nuseage = last - reading;\n\n\nvar data = [];\ndata[0] = useage;\ndata[1] = reading;\ndata[2] = last;\ndata[3] = Date.now();\n\nflow.set(\"lastdaily\", reading);\n\nnode.send([[{topic: \"daily\", payload: data}],[{topic: \"daily\", payload: data[0]}]]);","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1500,"wires":[["fca6929e32b7a20f","7716f40bbd7c0238"],["2f5011511d561a87","1f264133309533fe"]]},{"id":"fca6929e32b7a20f","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/dailyuse.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":600,"y":1480,"wires":[[]]},{"id":"ed062605c7a3fa59","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/hourlyuse.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":870,"y":1360,"wires":[[]]},{"id":"c03aa85c8377bf12","type":"debug","z":"7b6aa481.12022c","name":"Hourly Use","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1320,"wires":[]},{"id":"7716f40bbd7c0238","type":"debug","z":"7b6aa481.12022c","name":"Daily Use","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1440,"wires":[]},{"id":"349501e5e0752b44","type":"inject","z":"7b6aa481.12022c","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 10 * * 1","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1440,"wires":[["9110cdef78371d23"]]},{"id":"e3af1bb66c0c8ed2","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"1a34c042ccf4c0b9","order":0,"width":0,"height":0,"label":"Hourly Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"5","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":1400,"wires":[[]]},{"id":"a1cacea0f371da16","type":"debug","z":"7b6aa481.12022c","name":"Hourly Use 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":1440,"wires":[]},{"id":"2f5011511d561a87","type":"ui_chart","z":"7b6aa481.12022c","name":"","group":"1a34c042ccf4c0b9","order":0,"width":0,"height":0,"label":"Daily Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":550,"y":1520,"wires":[[]]},{"id":"1f264133309533fe","type":"debug","z":"7b6aa481.12022c","name":"Daily Use 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":1560,"wires":[]},{"id":"b6c083eeb69028ed","type":"function","z":"7b6aa481.12022c","name":"Level Alerts","func":"level = msg.payload;\nlast_alert = flow.get(\"alert\");\n\nif (level < 100 && last_alert == \"none\"){\n    node.send({payload:\"100\"});\n    flow.set(\"alert\",\"100\");\n}\n\nelse if (level < 50 && last_alert == \"100\"){\n    node.send({payload:\"50\"});\n    flow.set(\"alert\",\"50\");\n}\n\nelse if (level < 25 && last_alert == \"50\"){\n    node.send({payload:\"25\"});\n    flow.set(\"alert\",\"25\");\n}\n\nelse if (level < 10 && last_alert == \"25\"){\n    node.send({payload:\"10\"});\n    flow.set(\"alert\",\"10\");\n}\n\nelse if (level > 240 && last_alert != \"none\" ){\n    flow.set(\"alert\",\"none\");\n    node.send({payload:\"full\"});\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":1100,"wires":[["7e951ba3f0cd078d","70531ee58c23398a"]]},{"id":"7e951ba3f0cd078d","type":"debug","z":"7b6aa481.12022c","name":"level alerts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":1100,"wires":[]},{"id":"5b76e89dbcd42a24","type":"comment","z":"7b6aa481.12022c","name":"Oil in and Alerts","info":"","x":100,"y":1020,"wires":[]},{"id":"70531ee58c23398a","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/lastalert.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":420,"y":1140,"wires":[[]]},{"id":"6d87ac078293542f","type":"inject","z":"7b6aa481.12022c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":110,"y":1240,"wires":[["70ece8a6d23ca5ab","c33f066b4ebaa343"]]},{"id":"70ece8a6d23ca5ab","type":"file in","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/lastalert.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":340,"y":1240,"wires":[["a7ab9b0225ba9441"]]},{"id":"a7ab9b0225ba9441","type":"function","z":"7b6aa481.12022c","name":"Restore Alert Level","func":"alertLevel = msg.payload;\nflow.set(\"alert\",alertLevel);\n\ntest = flow.get(\"alert\");\nif (test == undefined){\n    flow.set(\"alert\",\"none\");\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":1240,"wires":[[]]},{"id":"cae432c544ac08f0","type":"comment","z":"7b6aa481.12022c","name":"Add additional outputs here if you want to send level alerts outside Node Red","info":"","x":770,"y":1100,"wires":[]},{"id":"c33f066b4ebaa343","type":"file in","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/LastReading.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":1280,"wires":[["8e39f8f0527da77f"]]},{"id":"8e39f8f0527da77f","type":"function","z":"7b6aa481.12022c","name":"Restore Last Reading","func":"oilLatest = msg.payload;\nflow.set(\"oilLatest\",oilLatest);\n\ntest = flow.get(\"oilLatest\");\nif (test == undefined){\n    flow.set(\"oilLatest\",\"250\");\n}\n\nreading = flow.get(\"oilLatest\");\n\nflow.set(\"lasthourly\", reading);\nflow.set(\"lastdaily\", reading);\nflow.set(\"last5min\", reading);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1280,"wires":[[]]},{"id":"ce70dc96cafb0a05","type":"json","z":"7b6aa481.12022c","name":"","property":"payload","action":"","pretty":false,"x":770,"y":440,"wires":[["3d30425bfe3e6e71"]]},{"id":"3d30425bfe3e6e71","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/nodered/sensors.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1010,"y":440,"wires":[[]]},{"id":"8bc9591a565cab38","type":"file","z":"7b6aa481.12022c","name":"","filename":"/home/pi/logging/nodered/sensors.txt","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":870,"y":160,"wires":[["ca3b25546b8a8f47"]]},{"id":"c72023ee4f865f0c","type":"json","z":"7b6aa481.12022c","name":"","property":"payload","action":"","pretty":false,"x":630,"y":160,"wires":[["8bc9591a565cab38"]]},{"id":"3a23f09d4a80a389","type":"catch","z":"7b6aa481.12022c","name":"","scope":["ca3b25546b8a8f47"],"uncaught":false,"x":290,"y":160,"wires":[["d69e83ddc1db711b","70ed3060ffcee46d"]]},{"id":"d69e83ddc1db711b","type":"function","z":"7b6aa481.12022c","name":"variable init","func":"var sensors = [];\nmsg.payload = sensors\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["c72023ee4f865f0c"]]},{"id":"70ed3060ffcee46d","type":"debug","z":"7b6aa481.12022c","name":"Catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":200,"wires":[]},{"id":"e47a378e.09b618","type":"mqtt-broker","name":"","broker":"192.168.30.2","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e1dc6c605c5fa26","type":"ui_group","name":"Oil Data","tab":"10650dda3700a45b","order":1,"disp":true,"width":"6","collapse":false},{"id":"31ba7d3f5f723671","type":"ui_group","name":"Sensors","tab":"10650dda3700a45b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1a34c042ccf4c0b9","type":"ui_group","name":"Oil Use","tab":"10650dda3700a45b","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"10650dda3700a45b","type":"ui_tab","name":"Oil Data","icon":"dashboard","disabled":false,"hidden":false}]